<h2 class="page-header">Search Companies</h2>
<form action="/companies" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="name" value="<%= searchOptions.name %>">
        </div>
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary btn-focus-white btn__center" type="submit">Search</button>
    </div>
</form>
</form>
<br>
<div class="company-row">
<% companies.forEach(company => { %>
    <div class="btn-row btn-row__companies">
        <p class="company-name"><%= company.name %></p>
        <form action="/companies/<%= company.id %>">
            <button class="btn btn-primary btn-focus-white" type="submit">View</button>
        </form> 
        <form action="/companies/<%= company.id %>/edit">
            <button class="btn btn-primary btn-focus-white" type="submit">Edit</button>
        </form>
        <%- include('../partials/deleteForm', { url: `/companies/${company.id}` }) %>
    </div>
    <%  }) %>
</div>